*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	font-family: "Open Sans";
}
.center{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

.clear{
	clear: both;
}
.header{
	width: 100%;
	padding: 0 2%;
	height: 60px;
	background-color: #212343;
}
.header img{
	margin: 15px;
}

.logo-marca{
	color: white;
	position: relative;
	top: 15px;
	left: 0; 
}
.container-banner{
	width: 100%;
	padding: 0 2%;
	height: 557px;
	background-image: url('../imagens/header_bg.png');
	background-size: cover; /*cobrir toda a area*/ 
	background-position: center;
}
.container-banner > .center{
	height: 100%;
}

.form{
	padding: 10px;
	width: 400px;
	height: calc(100% + 30px);
	float: right;
	position: relative;
	top:-15px;
	border: 8px solid #ccc;
	background-color: white;
	background-clip:padding-box;
}
.form h2{
	font-weight: normal;
	color:#999999;
	font-size:21px;  
}
.input-container{
	margin-top: 20px;
}

.input-container span{
	display: inline-block;
	width: 100%;
	color: #BBBBBB;
	font-size: 17px;

}

.form p{
	display: inline-block;
	width: 100%;
	color: #BBBBBB;
	font-size: 17px;
	margin:20px 0;
}

.input-container input[type=text]{
	margin-top: 8px;
	width: 300px;
	height: 40px;
}
.input-submit-container input[type=submit]{
	width: 280px;
	height: 56px;
	font-size:35px; 
	background-color:#363a6d;
	color: white;
	cursor: pointer;
}

.form .input-submit-container{
	text-align: center;
	cursor: pointer;

}
.form input[type=submit]:hover{
	background-color: #323665;

}
.container-list{
	padding: 30px;
	margin-top:40px;
	float: left;
	width: 619px;
	height: 270px;
	background-color:rgba(33,35,67,0.7);  
}
.container-list > ul {
list-style-position: inside;
}
.container-list >ul >li{
	margin-top: 18px;
	color: white; 
}

.container-2{
	padding:40px 2%;
	background-color: #ddd;
	text-align: center;
}
.container-2 > h2{
	width: 100%;
	margin: 15px 0;
	display: inline-block;
	text-align: justify;
}

.arrow{
	position: relative;
	top:60px;
	left: 50%;
	text-align: center;
	width: 40px;
	height: 40px;
	background-image: url('../imagens/arrow.png');
	background-size: 100% 100%; 
}
.section-1{
	padding:90px 2%;
}

.section-1 h2{
	text-align: center;
	color: #462663;
	font-weight: normal;
}

.container-section{
	margin-top:40px;
}

.container-section{
	text-align: center;
}

.container-single{
	float: left;
	width: 33.333%;
	padding:30px;
}

.container-single p{
	display: inline-block;
	text-align: justify;
	padding:10px 25px;
}

.container-single img{
	width:70px;
}

.footer{
	clear:both;
	border-top:2px solid #888888;
	padding: 20px 0;
	text-align: center;
	color: #888;
}

.footer p{
	margin-top: 8px;
}
@media screen and (max-width: 1024px){
	.header{
		height: auto;
		width: 100%;
		padding: 15px 0%;
		text-align: center;
	
}
	.header img{
		margin:0;
	}
	.container-list{
		padding: 30px 0;
		width: 40%;
		float: left;
		display: inline-block;
		max-width: 500px;
		height: auto;
		
}
	.container-banner{
		width: 100%;
		padding: 40px 2%;
		height: auto;
		text-align: center;
	
}
	.form{
	max-width:400px; 
	padding: 10px;
	width: 60%;
	height: auto;
	float: right;
	top:0px;
}
	.input-container input[type=text]{
	width: 100%;
	height: 55px;
}
	.input-submit-container input[type=submit]{
	max-width: 280px;
	width: 100%;
	height: 56px;
	
	}

}

@media screen and (max-width: 1024px){
	.header{
		height: auto;
		width: 100%;
		padding:15px 0;
		text-align: center;
	}

	.header img{
		margin:0;
	}

	.container-list{
		padding:30px 0;
		width: 40%;
		float: left;
		display: inline-block;
		max-width: 500px;
		height: auto;
	}

	.container-banner{
		width: 100%;
		padding:40px 2%;
		height: auto;
		text-align: center;
	}

	.form{
		max-width: 400px;
		padding:10px;
		width: 60%;
		height: 100%;
		float:right;
		top:0;
	}

	.input-container input[type=text]{
		width: 100%;
		height: 55px;
	}


	.form input[type=submit]{
		max-width: 280px;
		height: 56px;
		width: 100%;
	}
}

@media screen and (max-width: 768px){
	.container-2{
		padding-right: 4%;
		padding-left: 4%;
	}
	.container-list{
		margin-top: 0;
		float: none;
		display: inline-block;
		width: 100%;
	}

	.form{
		float: none;
		display: inline-block;
		width: 90%;
		margin-top:30px;
	}

	.container-single{
		float: none;
		display: inline-block;
		width: 100%;
		max-width: 600px;
		padding:30px 0;
	}
}
